header {
    height: var(--header-height);
    width: 100%;
    border-bottom: 1px solid var(--border);

    display: flex;
    justify-content: space-between;
    padding: .7em;
    box-sizing: border-box;
}

header div {
    height: 100%;
}

header .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .left svg {
    aspect-ratio: 1 / 1;
    background: var(--logo);
    height: 100%;
}

header .left span {
    color: var(--text-s);
    font-size: 1rem;
    font-weight: 400;
}

header .right span {
    font-size: 14px;
    color: var(--text-s);
    opacity: 50%;
}