main {
    width: 100%;
    height: calc(100dvh - var(--header-height));

    display: flex;
}

main > div {
    height: 100%;
}

main > .mainmenu {
    width: calc(70% - 200px);
    background: linear-gradient(
    90deg,
    var(--sidemenu-gradient-end) 0%,
    var(--sidemenu-gradient-end) 50%,
    transparent 50%,
    transparent 100%
    );
}

main > .mainmenu > .container {
    width: 100%;
    height: 100%;
    
    box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.1);
}

main .calendar-header {
    background-color: white;
    height: 20%;
}

main .header-controls {
    display: flex;
    justify-content: space-between;
    padding: 16px
}

main .header-controls > div:first-of-type > span {
    font-size: 2rem;
}

main .month-selector {
    display: flex;
    align-items: center;
    gap: 10px;
}

main .add-expense {
    background-color: var(--accent);
    border: 1px solid var(--accent-border);
    border-radius: 8px;
    
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
}

main .header-info {
    display: flex;
    justify-content: space-between;
}

main .month-total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 10px 16px;
    gap: 8px;
}

main .month-total > span {
    font-size: 2.5rem;
    color: var(--accent);
}

main .month-total > p {
    color: var(--text-s);
}

/* -----CALENDAR----- */
/* ############## */

main .calendar {
    width: 100%;
    height: 80%;
}

main .calendar .split {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: calc(5% + 20px);

    background-color: var(--sidemenu-gradient-start);

    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

main .calendar .split span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    vertical-align: middle;
}

main .calendar .days {
    width: 100%;
    height: calc(95% - 20px);

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);

    background-color: var(--border);
    gap: 1px;
}