.container {
    background-color: var(--bg);
    
    display: flex;
    padding: 8px 12px;
}

.day {
    font-size: 1rem;
    font-weight: 600;
}

.unfocused {
    background-color: color-mix(in srgb, var(--bg), black 4%);
}

.unfocused span {
    opacity: 50%;
}