:root {
  --text: #000000;
  --text-s: #4d4d4d;
  --bg: #EBEDF1;
  --section-bg: #F3F4F8;
  --border: #CED1D8;
  --border-radius: 10px;
  --logo: #8ccc54;
  --accent: #4A8C2A;
  --accent-border: #3B6F16;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  --header-height: 50px;

  /* SPECIAL COLORS */
  --sidemenu-gradient-start: #E2E4E6;
  --sidemenu-gradient-end: #DEE1E1;
  --button-gradient-start: #F8F8FA;
  --button-gradient-end: #EAEAED;
  --button-border: #D8DBDE;


  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-inline: 2px solid var(--border);
  background: linear-gradient(180deg,rgb(227, 232, 238) 0%, rgba(235, 237, 241, 1) 100%);;
}

body {
  margin: 0;
  background-color: var(--bg);
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}
