.button {
    background: linear-gradient(180deg,var(--button-gradient-start) 0%, var(--button-gradient-end) 100%);;
    border: 1px solid var(--button-border);
    border-radius: 6px;
    color: var(--text-s);

    font-weight: 400;
    font-size: 1rem;

    cursor: pointer;
}

.button svg {
    background: var(--text);
    height: 100%;
    width: 100%;
}

.green {
    background: var(--accent);
    border: 1px solid var(--accent-border);
    border-radius: 8px;

    color: white;
    
    padding: 10px 20px;
}

.square {
    height: 50px;
    width: 50px;
}